{% extends 'home/components/layout.html.twig' %}

{% block title %} Project Kakarot - Batallas{% endblock %}


    {% block content %}
            <div class="containerm1">
                <div class="container1">
                    <div>
                        <h2>Projecto Kakarot</h2>
                        <p>descripción batallas</p>
                    </div>
                </div>
                <div class="container2">
                    
                </div>
            </div>
            <div class="containerm2">
                <div class="description">
                    
                </div>
            </div>
    {% endblock %}