{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Home{% endblock %}

{% block content %}
    <div class="containerh">
        <div class="quizes">
            <div id="les-offres" class="container py-0">
                <div class="row mt-5 px-lg-0" style="flex-direction:column">
                {% for quiz in quizzes %}
                    {% include 'partials/card-global.html.twig' %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}