{% extends 'home/components/layout.html.twig' %}

{% block title %} Project Kakarot - Home{% endblock %}


    {% block content %}
            <div class="containerh">
                <div class="containerh1">
                    <div>
                        <h2>Projecto Kakarot</h2>
                        <p>descripción</p>
                    </div>
                </div>
                <div class="quizes">
                    <div class="quiz">
                        <div class="quiz1">
                            <p>Batallas</p>
                            <p>description</p>
                            <p>img</p>
                            <button href"#">ENPEZAR</button>
                        </div>
                    </div>
                    <div class="quiz">
                        <div class="quiz1">
                            <p>Manga</p>
                            <p>description</p>
                            <p>img</p>
                            <button href"#">ENPEZAR</button>
                        </div>
                    </div>
                    <div class="quiz">
                        <div class="quiz1">
                            <p>Anime</p>
                            <p>description</p>
                            <p>img</p>
                            <button href"#">ENPEZAR</button>
                        </div>
                    </div>
                    <div class="quiz">
                        <div class="quiz1">
                            <p>Razas</p>
                            <p>description</p>
                            <p>img</p>
                            <button href"#">ENPEZAR</button>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}