{% extends 'home/components/layout.html.twig' %}

{% block title %} Project Kakarot - Manga{% endblock %}


    {% block content %}
        <div class="caja">
            <div class="containerm1">
                <div class="container1">
                    <div>
                        <h2>Projecto Kakarot</h2>
                        <p>descripción manga</p>
                    </div>
                </div>
                <div class="container2">
                    <div class="nombre"></div>
                    <hr>
                    <div class="fecha"></div>
                    <hr>
                    <div class=""></div>
                </div>
            </div>
            <div class="containerm2">
                <div class="description">
                    
                </div>
            </div>
        </div>
    {% endblock %}