{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Sagas{% endblock %}

{% block content %}
    
    <div class="cards">
        {% for saga in sagas %}
            <div onclick="window.location.href='{{ path('app_sagas_view', { 'id': saga.id }) }}'" class="cardView">
                <div class="cardImage" style="background: url({{ asset('/img/views/'~ saga.picture) }});" aria-label="Imagen de {{ saga.title }}"></div>
                <div class="cardBody">
                    <h5>{{ saga.name }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}