{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Especiales/OVAs{% endblock %}

{% block content %}
    
    <div class="cards">
        {% for special in specials %}
            <div onclick="window.location.href='{{ path('app_specials_view', { 'id': special.id }) }}'" class="cardView">
                <div class="cardImage" style="background: url({{ asset('/img/views/'~ special.picture) }});" aria-label="Imagen de {{ special.title }}"></div>
                <div class="cardBody">
                    <h5>{{ special.name }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}