@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: #435084;
    font-family: montserrat;
	margin: 0;
	padding: 0;
}

/*register*/
.registerForm {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
.registerForm fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}

.registerForm fieldset:not(:first-of-type) {
	display: none;
}

.registerForm input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
}

.registerForm .btnRegister {
	width: 110px;
	background: #9201af;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
}

.registerForm .btnRegister:hover, .registerForm .btnRegister:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
    padding-bottom: 10px;
}

.registerForm div {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.registerForm div label {
    font-size: 13px;
}

.registerForm div input {
    width: 10px;
}

.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.successAlert {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.warningAlert{
	color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.infoAlert {
	color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.dangerAlert {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.Btn {
    border: 1px solid transparent;
	border-radius: 0.25rem;
	padding: 0.375rem 0.75rem;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.btn:hover {
	transition: 0.4s;
	filter: brightness(90%); 
}

.btnDanger {
	color: #fff;
    background-color: #dc3545;
}

.btnPrimary {
	color: #fff;
	background: #9201af;
}

.btnSecondary {
	color: #fff;
	background: #435fdb;
}

/*Delete Account Modal*/

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	text-align: center;
}
  
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
	padding-bottom: 20px!important;
	top: 105px;
}
  
.close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: 0.4s;
}
  
.close:hover,
.close:focus {
	opacity: 0.5;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #cc4608;
	color: white;
}
  
.modal-body {padding: 2px 16px;}
  
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s
}
  
@keyframes animatetop {
	from {top: 0px; opacity: 0}
	to {top: 105px; opacity: 1}
}

/* Avatar */

.avatar-wrapper {
	position: relative;
	width: 150px;
	height: auto;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: none;
	margin: 0 10px 30px 0;
	transition: all .3s ease;
}
.avatar-wrapper:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.avatar-wrapper .profile-pic {
	height: 100%;
	width: 100%;
	transition: all .3s ease;
	object-fit: cover;
}

.avatar-wrapper .profile-pic:after {
	content: "\e9f1";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 120px;
	position: absolute;
	font-size: 60px;
	background: #f0f0f0;
	color: #aaa;
	text-align: center;
}

.avatar-wrapper .upload-button {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.avatar-wrapper .file-upload {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

/*nav*/

.nav{
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: #000421;
    transition: .2s;

}
.navm{
	display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    transition: .2s;
    top: 0;
    z-index: 2;
}

.nav__list{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	cursor: pointer;
}


.nav__list a{
	display:block;
	text-decoration: none;
	color: white;
	line-height:32px;
	padding:0 20px;
}


.nav__list li{
	position: relative;
	float:  left;
	margin: 0;
	padding: 0;
}

.nav__list li:hover{
	background-color: #fe7900;
	border-radius: 10px;
	transition: 0.4s;
}

.nav__list ul{
	display: none;
	position:absolute;
	top: 100%;
	left: 0;
	background-color: #000421;
	padding: 0;
	list-style: none;
	border-radius: 10px;
}

.nav__list ul li{
	float: none;
	width: 200px;
}

.nav__list ul a{
	line-height: 120%;
	padding: 10px 15px;
	color: white;
}

.nav__list ul ul{
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #fff;
}

.nav__list li:hover > ul{
	display: block;
}

.avatar{
    display: flex;
    align-items: center;
    transition: .2s;
    opacity: 1;
    visibility: visible;
	padding-right: 20px;
	gap: 20px;
}

.avatar a{
	text-decoration: none;
	color: white;
	border-radius: 2px;
	background-color: #6351ce;
	padding: 10px;
}

.avatar a:hover{
	background-color: #fe7900;
	border-radius: 5x;
	transition: 0.4s;
}

.logo {
	width: 200px;
}

.logo img{
	width:200px;
	height: 50px;
	cursor: pointer;
	padding: 20px;
}

/*home*/

.containerh{
	width: 100%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.containerh1{
	width: 50%;
	height: auto;
	background-color: #27AE60;
	border: solid black 2px;
	border-radius: 10px;
	padding-left: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.quizes{
	width: 50%;
	height: auto;
	padding-top: 20px;	
}

.quiz1{
	width: auto;
	height: 50px;
	display: flex;
	justify-content: space-between;
	border: solid black 2px;
	background-color: aquamarine;
}
.quiz{
	padding-bottom: 10px;
}

/*pages*/

.caja{
	display: flex;

}

.containerm1{
	width: 30%;
	height: auto;
	background-color: #27AE60;
}

.containerm2{
	width: 70%;
	height: auto;
	background-color:#2a40e8;
}

/*footer*/

.footer {
	background-color: #1f254a;
}

.titlef {
	display: flex;
	justify-content: center;
	background-color: #6351ce;
	width: 100%;
	height: 25px;
}

.contentf {
	display: flex;
	justify-content: space-around;
	
}

.desc {
	width: 50%;
	color:white;
	padding: 20px;
}

.link {
	width: 50%;
	color:white;
	padding: 20px;	
	margin-left: 100px;
	gap: 5px;
}
.link button {
	font-size: 16px;
	text-decoration: none;
	color:white;
	cursor: pointer;
	background-color: transparent;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: end;
	line-height: 30px;
	overflow: hidden;
    outline: none;
    font-weight: bold;
    padding: 0;
}

.desc hr {
	width: 100px; 
	background-color: #fe7900; 
	height: 2px;
	display:inline-block ;
	border: none;
}

.link hr {
	width: 100px; 
	background-color: #fe7900; 
	height: 2px;
	display:inline-block ;
	border: none;
}

.copyf {
	display: flex;
	justify-content: center;
	background-color: #000421;
	color:white;
}

.copyf p {
	display: flex;
	padding: 5px;
	color:white;
	
}
