@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: #9d5cf4;
    font-family: montserrat;
	margin: 0;
	padding: 0;
}

/*register*/
.registerForm {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
.registerForm fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}

.registerForm fieldset:not(:first-of-type) {
	display: none;
}

.registerForm input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
}

.registerForm .btnRegister {
	width: 110px;
	background: #9201af;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
}

.registerForm .btnRegister:hover, .registerForm .btnRegister:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
    padding-bottom: 10px;
}

.registerForm div {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.registerForm div label {
    font-size: 13px;
}

.registerForm div input {
    width: 10px;
}

/*nav*/

.nav{
	display: flex;
	justify-content: space-between;
	width: auto;
	height: auto;
}
.navm{
	width: auto;
	height: auto;
	border-radius: 20px;
	background-color: #1c2331;
}

.nav__list{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}


.nav__list a{
	display:block;
	text-decoration: none;
	color: white;
	line-height:32px;
	padding:0 20px;
}


.nav__list li{
	position: relative;
	float:  left;
	margin: 0;
	padding: 0;
}

.nav__list li:hover{
	opacity: 1;
	border-radius: 20px;
}

.nav__list ul{
	display: none;
	position:absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	padding: 0;
	list-style: none;
	border-radius: 20px;
}

.nav__list ul li{
	float: none;
	width: 200px;
}

.nav__list ul a{
	line-height: 120%;
	padding: 10px 15px;
	color: black;
}

.nav__list ul ul{
	position: absolute;
	top: 0;
	left: 50%;
	background-color: #fff;
}

.nav__list li:hover > ul{
	display: block;
}

.avatar{
	display: flex;
	width: 200px;
	gap: 50px;
	padding-top: 20px;
}

.avatar a{
	text-decoration: none;
	color: white;
}

.logo{
	width:120px;
	height: auto;
	padding-top: 10px;
}

/*home*/

.containerh{
	width: 100%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.containerh1{
	width: 50%;
	height: auto;
	background-color: #27AE60;
}

.quizes{
	width: 50%;
	height: auto;
	padding-top: 20px;	
}

.quiz1{
	width: auto;
	height: 50px;
	display: flex;
	justify-content: space-between;
	border: solid black 2px;
	background-color: aquamarine;
}
.quiz{
	padding-bottom: 10px;
}

/*footer*/

.footer{
	background-color: #1c2331;
}

.titlef{
	display: flex;
	justify-content: center;
	background-color: #6351ce;
	color:white;

}

.contentf{
	display: flex;
	justify-content: space-around;
	
}

.desc{
	width: 50%;
	color:white;
	padding-left: 20px;
}

.link{
	width: 50%;
	color:white;
	padding-left: 20px;
}
.link a{
	text-decoration: none;
	color:white;
}

.line{
	width: 100px; 
	background-color: #7c4dff; 
	height: 2px;
	display:inline-block ;
}
.copyf{
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	color:white;
}

.copyf a{
	text-decoration: none;
	color:white;
}