@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: lightgray;
    font-family: montserrat;
}

.registerForm {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
.registerForm fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}

.registerForm fieldset:not(:first-of-type) {
	display: none;
}

.registerForm input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
}

.registerForm .btnRegister {
	width: 110px;
	background: #9201af;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
}

.registerForm .btnRegister:hover, .registerForm .btnRegister:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
    padding-bottom: 10px;
}

.registerForm div {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.registerForm div label {
    font-size: 13px;
}

.registerForm div input {
    width: 10px;
}