{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Project Kakarot - Panel de Adminitración{% endblock %}

{% block body %}
<div>
    {{ render_chart(userChart) }}
</div>
<span class="h2 font-weight-bold mb-0">{{ totalUsers }}</span>
{% endblock %}
