<div class="nav">
        <div class="logo">
            <img src="{{ asset('img/pklogo.svg') }}">
        </div>
		<div class="navm">
			<ul class="nav__list">
				<li>
					<a href="">
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="">
						<p>Manga</p>
					</a>
				</li>
				<li>
					<a>
						<p>Amine</p>
					</a>
					<ul>
						<li><a href="">Peliculas</a></li>
						<li><a href="">Especiales/OVAs</a></li>
					</ul>
				</li>
				<li>
					<a>
						<p>Sagas</p>
					</a>
					<ul>
						<li><a href="">Batallas</a></li>
					</ul>
				</li>
				<li>
					<a>
						<p>Razas</p>
					</a>
					<ul>
						<li><a href="">Personajes</a></li>
					</ul>
				</li>
			</ul>
		</div>
        <div class="avatar">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% else %}
                <a href="{{ path('app_login') }}">
                    Log in
                </a>
                <a href="{{ path('app_register') }}">
                    Register
                </a>
            {% endif %}
        </div>
    </div>