{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Cambio de Contrase침a{% endblock %}

{% block body %}
    <p>
        Se enviar치 un correo al email introducido que contiene un link para que puedas cambiar tu contrase침a.
        Este link expirar치 en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si no recibes un email por favor revisa tu carpeta de spam o <a href="{{ path('app_forgot_password_request') }}">prueba otra vez</a>.</p>
    
{% endblock %}
