{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Cambio de Contrase単a{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert btnDanger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="registerForm">
        {{ form_start(requestForm) }}
        <fieldset>
            <h2 class="fs-title">Cambia tu Contrase単a</h2>
            {{ form_widget(requestForm.email) }}
            <div>
                <small>Introduce tu email y te enviaremos un link para que cambies tu contrase単a.</small>
            </div>

            <button class="Btn btnPrimary">Enviar cambio de contrase単a</button>
        </fieldset>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
