{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Cambio de Contraseña{% endblock %}

{% block body %}
    <h1>Cambia tu Contraseña</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="Btn btnPrimary">CAMBIAR CONTRASEÑA</button>
    {{ form_end(resetForm) }}
{% endblock %}
