{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Cambio de Contraseña{% endblock %}

{% block content %}
    <div style="margin-bottom:275px;" class="registerForm">
        {{ form_start(resetForm) }}
        <fieldset>
            <h2 class="fs-title">Cambia tu Contraseña</h2>
            {{ form_widget(resetForm.plainPassword) }}
            <div>
                <small>Introduce tu contraseña.</small>
            </div>

            <button aria-label="Enviar cambio de contraseña" class="Btn btnPrimary">Enviar cambio de contraseña</button>
        </fieldset>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
